/*
 * Copyright (c) 2020 Intel Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 / {

	encoder_left: encoder_left {
		compatible = "encoder_counter";
		status = "okay";
		gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
		timer_address = < 0x40009000 >;
		timer_id = < 1 >;
	};

	encoder_right: encoder_right {
		compatible = "encoder_counter";
		status = "okay";
		gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
		timer_address = < 0x4000a000 >;
		timer_id = < 2 >;
	};

};
