/*
 * Copyright (c) 2020 Intel Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 / {

	encoder_left: encoder_left {
		compatible = "encoder_counter";
		status = "okay";
		gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
	};

	encoder_right: encoder_right {
		compatible = "encoder_counter";
		status = "okay";
		gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
	};
};

&i2c0 {
	status = "disabled";
};
